<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
<form action="/addadmin" method="post">
    <table>
    <tr>
        <td>username</td>
        <td><input type="text" name="username" placeholder="username"></td>
    </tr>
    <tr>
        <td>email</td>
        <td><input type="text" name="email" placeholder="email"></td>
    </tr>
    <tr>
        <td>password</td>
        <td><input type="password" name="password" placeholder="password"></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="ADD DATA"></td>
    </tr>
        </table>
</form>
</body>
</html>