<footer id="colophon" class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="newsletter">
                <h3>Newsletter</h3>
                <form method="post" class="form-newsletter">
                    <input type="email" name="EMAIL" placeholder="Enter your Email" required>
                    <button type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="widget-text">
                        <div class="footer-location">
                            <img src="static/images//logo1-footer.png" alt="">
                            <p>You have questions regarding our services? Contact us, we will be happy to help you
                                out!</p>
                            <ul class="info">
                                <li><i class="ion-ios-location"></i> <a href="/contact#sc-google-map">Shilp Aaron, A-Block, S.G.Highway, Sindhu Bhavan Road,, Near Pakwan Cross Road, Bodakdev, Ahmedabad, Gujarat 380054
                                </a></li>
                                <li><i class="ion-ios-telephone"></i><a href="tel:98989 98989">98989 98989</a></li>
<!--                                <li><i class="ion-email"></i><a-->
<!--                                        href="https://html.thimpress.com/cdn-cgi/l/email-protection#54373b3a2035372014203c3d3924263127277a373b39"><span-->
<!--                                        class="__cf_email__"-->
<!--                                        data-cfemail="6c0f0302180d0f182c180405011c1e091f1f420f0301">[email&#160;protected]</span></a>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
<!--                <div class="col-sm-2">-->
<!--                    <div class="widget-menu">-->
<!--                        <h3 class="widget-title">Booking</h3>-->
<!--                        <ul class="menu">-->
<!--                            <li><a href="#">Rooms & Suites</a></li>-->
<!--                            <li><a href="#">Restaurant</a></li>-->
<!--                            <li><a href="#">Spa & Fitness</a></li>-->
<!--                            <li><a href="#">Shop</a></li>-->
<!--                            <li><a href="#">Gallery</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-2">-->
<!--                    <div class="widget-menu">-->
<!--                        <h3 class="widget-title">About Us</h3>-->
<!--                        <ul class="menu">-->
<!--                            <li><a href="#">Our Story</a></li>-->
<!--                            <li><a href="#">Blog & Events</a></li>-->
<!--                            <li><a href="#">Awards</a></li>-->
<!--                            <li><a href="#">About Us</a></li>-->
<!--                            <li><a href="#">Contact Us</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-2">-->
<!--                    <div class="widget-menu">-->
<!--                        <h3 class="widget-title">Connect Us</h3>-->
<!--                        <ul class="list-social">-->
<!--                            <li><a class="facebook" href="https://www.facebook.com/thimpress">Facebook</a></li>-->
<!--                            <li><a class="twitter" href="https://www.twitter.com/thimpress">Twitter</a></li>-->
<!--                            <li><a class="instagram" href="http://www.thimpress.com/">Instagram</a></li>-->
<!--                            <li><a class="youtube" href="http://www.thimpress.com/">Youtube</a></li>-->
<!--                            <li><a class="google" href="http://www.thimpress.com/">Google +</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="copyright-content col-sm-12">
                    <p class="copyright-text">© 2018 <a href="#">Sunrise Hotel</a> by <a href="https://thimpress.com/">ThimPress</a>.
                        All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>