<header id="masthead" class="header-default affix-top sticky-header ">
    <div class="row">
        <div class="header-menu col-sm-12 tm-table">
            <div class="menu-mobile-effect navbar-toggle" data-effect="mobile-effect">
                <div class="icon-wrap">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </div>
            <div class="width-logo sm-logo table-cell text-center">
                <a href="/" class="no-sticky-logo" title="Hotel HTML Template">
                    <img class="logo" src="static/images//logo1.png" alt="">
                    <img class="mobile-logo" src="static/images//logo1-sticky.png" alt="">
                </a>
                <a href="/" class="sticky-logo">
                    <img src="static/images//logo1-sticky.png" alt="">
                </a>
            </div>
            <div class="width-navigation navigation table-cell">
                <div class="top-toolbar clearfix">
                    <div class="toolbar-info pull-left col-sm-4">
                        <i class="ion-ios-telephone"></i> <span class="label">Need help? Call us now:</span>
                        <a class="value" href="tel:+88123456789"> (+91) 98989 98989</a>
                    </div>
                    <div class="toolbar-right pull-right col-sm-8">
                        <div class="weather">
                            Hello,
                            <span>{{n}}</span>
                        </div>
                        <ul class="top-menu">
                            <!--<li class="menu-item"><a href="/shop">Our Story</a></li>-->
                            <!--<li class="menu-item"><a href="/login">Login</a></li>-->
                            <!--<li class="menu-item"><a href="/rege">Register</a></li>-->
                        </ul>
                        <div class="language">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle select" data-hover="dropdown" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="flag-el"></i>English<span class="fa fa-caret-down"></span>
                                </a>
                                <ul class="dropdown-language">
                                    <li><a href="#"><i class="flag-it"></i>Italiano</a></li>
                                    <li><a href="#"><i class="flag-de"></i>Deutsch</a></li>
                                    <li><a href="#"><i class="flag-fr"></i>Français</a></li>
                                    <li><a href="#"><i class="flag-es"></i>Español</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav main-menu">

                    <li class="menu-item">
                    <a href="/">Home</a>
                    </li>

                    <li class="menu-item">
                        <a href="rooms-grid-2">Rooms</a>
<!--                        <ul class="sub-menu">-->
<!--                            <li class="menu-item"><a href="/rooms-grid-2">Rooms</a></li>-->
<!--&lt;!&ndash;                            <li class="menu-item"><a href="/rooms-grid-2">Rooms Grid View 2</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li class="menu-item"><a href="/room-single">Room Detail</a></li>&ndash;&gt;-->
<!--                        </ul>-->
                    </li>
                    <li class="menu-item">
                        <a href="/blog">Blog</a>
<!--                        <ul class="sub-menu">-->
<!--                            <li class="menu-item"><a href="/blog-sidebar-left">Blog Sidebar Left</a></li>-->
<!--                            <li class="menu-item"><a href="/blog-sidebar-right">Blog Sidebar Right</a></li>-->
<!--                            <li class="menu-item"><a href="/blog-no-sidebar">Blog Without Sidebar</a></li>-->
<!--                            <li class="menu-item"><a href="/blog-single">Single Post</a></li>-->
<!--                            <li class="menu-item"><a href="/blog-single-gallery">Single Post Gallery</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="menu-item">-->
<!--&lt;!&ndash;                        <a href="/events">Events</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <ul class="sub-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                            <li class="menu-item"><a href="/events-2columns">Events Gird View</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li class="menu-item"><a href="/events">Events List view</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li class="menu-item"><a href="/event-single">Event Single</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li class="menu-item"><a href="/event-single-expired">Event Single Expired</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        </ul>&ndash;&gt;-->
<!--                    </li>-->
                    <li class="menu-item has-children">
                        <a href="#">Features</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="/about-us">About Us</a></li>
                            <li class="menu-item"><a href="/shop">Restaurant</a></li>
                            <li class="menu-item"><a href="/gallery">Gallery</a></li>
                                <li class="menu-item"><a href="/cart">Past Bookings</a></li>
<!--                                <ul class="sub-menu">-->
<!--                                    <li class="menu-item"><a href="/-2columns">Gallery 2 Columns</a></li>-->
<!--                                    <li class="menu-item"><a href="/gallery">Gallery 3 Columns</a></li>-->
<!--                                    <li class="menu-item"><a href="/gallery-full-width">Gallery Full Width</a></li>-->
<!--                                    <li class="menu-item"><a href="/gallery-without-filter">Gallery Without Filter</a>-->
<!--                                    </li>-->
<!--                                    <li class="menu-item"><a href="/gallery-with-content">Gallery With Content</a></li>-->
<!--                                </ul>-->

<!--                            <li class="menu-item"><a target="_blank" href="/were-launching-soon">Coming Soon Page</a>-->
<!--                            </li>-->
<!--                            <li class="menu-item"><a href="/404">404 Page</a></li>-->
                        </ul>
                    </li>
                    <li class="menu-item"><a href="/contact">Contact</a></li>
                    <li class="menu-item has-children">
                        <a>Login</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="/login">Login</a></li>
                            <li class="menu-item"><a href="/rege">Register</a></li>
                            <li class="menu-item"><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    <div class="header-right">
                        <a href="/rooms-grid-2" class="btn-book">BOOK YOUR STAY</a>
                    </div>
            </div>
        </div>
    </div>
</header>