<nav class="visible-xs mobile-menu-container mobile-effect" itemscope
         itemtype="http://schema.org/SiteNavigationElement">
        <div class="inner-off-canvas">
            Hello,
            <span>{{n}}</span>
            <div class="menu-mobile-effect navbar-toggle">Close <i class="fa fa-times"></i></div>
            <ul class="nav main-menu">
                <li class="menu-item">
                    <a href="/">Home</a>
<!--                    <ul class="sub-menu">-->
<!--                        <li class="menu-item"><a href="/">Home 01</a></li>-->
<!--                        <li class="menu-item"><a href="/index-2">Home 02</a></li>-->
<!--                        <li class="menu-item"><a href="/index-3">Home 03</a></li>-->
<!--                        <li class="menu-item"><a href="/index-4">Home 04</a></li>-->
<!--                    </ul>-->
                </li>
                <li class="menu-item">
                    <a href="/rooms-grid-2">Rooms</a>
<!--                    <ul class="sub-menu">-->
<!--&lt;!&ndash;                        <li class="menu-item"><a href="/rooms">Rooms Grid View 1</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="menu-item"><a href="/rooms-grid-2">Rooms Grid View 2</a></li>&ndash;&gt;-->
<!--                        <li class="menu-item"><a href="/room-single">Room Detail</a></li>-->
<!--                    </ul>-->
                </li>
                <li class="menu-item">
                    <a href="/blog">Blog</a>
<!--                    <ul class="sub-menu">-->
<!--                        <li class="menu-item"><a href="/blog-sidebar-left">Blog Sidebar Left</a></li>-->
<!--                        <li class="menu-item"><a href="/blog-sidebar-right">Blog Sidebar Right</a></li>-->
<!--                        <li class="menu-item"><a href="/blog-no-sidebar">Blog Without Sidebar</a></li>-->
<!--                        <li class="menu-item"><a href="/blog-single">Single Post</a></li>-->
<!--                        <li class="menu-item"><a href="/blog-single-gallery">Single Post Gallery</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="menu-item">-->
<!--                    <a href="/events">Events</a>-->
<!--&lt;!&ndash;                    <ul class="sub-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="menu-item"><a href="/events-2columns">Events Grid View</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="menu-item"><a href="/events">Events List View</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="menu-item"><a href="/event-single">Event Single</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="menu-item"><a href="/event-single-expired">Event Single Expired</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--                </li>-->
                <li class="menu-item has-children">
                    <a href="#">Features</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="/about-us">About Us</a></li>
                        <li class="menu-item"><a href="/shop">Restaurant</a></li>
<!--                        <li class="menu-item"><a target="_blank" href="/were-launching-soon">Coming Soon Page</a></li>-->
<!--                        <li class="menu-item"><a href="/404">404 Page</a></li>-->
                    </ul>
                </li>
                <li class="menu-item"><a href="/gallery">Gallery</a>
<!--                    <ul class="sub-menu">-->
<!--                        <li class="menu-item"><a href="/gallery-2columns">Gallery 2 Columns</a></li>-->
<!--                        <li class="menu-item"><a href="/gallery">Gallery 3 Columns</a></li>-->
<!--                        <li class="menu-item"><a href="/gallery-full-width">Gallery Full Width</a></li>-->
<!--                        <li class="menu-item"><a href="/gallery-without-filter">Gallery Without Filter</a></li>-->
<!--                        <li class="menu-item"><a href="/gallery-with-content">Gallery With Content</a></li>-->
<!--                    </ul>-->
                </li>
                <li class="menu-item"><a href="/contact">Contact</a></li>
            </ul>
         <ul class="nav main-menu">
                <li class="menu-item has-children">
                    <a href="/login">Login</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="/rege">Register</a></li>
                        <li class="menu-item"><a href="/logout">Logout</a></li>
                    </ul>
                </li>
        </div>
    </nav>